body {
  font-family: sans-serif;
  background-color: lavender;
}
button {
  background-color: pink; /* color of the button itself */
  color: mediumvioletred; /* color of text inside the button */
  padding: 10px 16px; /* change this to see what happens! (relates to size) */
  border: none;
  border-radius: 6px; /* roundness of the button */
  cursor: pointer; 
}
#navbar {
  background-color: pink;
  padding: 10px; /* change this and see what happens */
}



/* if an id (id = "blank"), use #blank to access it in css */
/* if a class (class = "blank"), use .class to access the whole class and element_name.blank in css, like h1.class or p.class */
