html, body {
    height: 100%;
    margin: 10px;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: verdana;
    background-color: lavender;
}

h1 {
    font-family: monospace;
}

button {
  background-color: pink; /* color of the button itself */
  color: mediumvioletred; /* color of text inside the button */
  text-decoration: none;
  padding: 10px 16px; /* change this to see what happens! (relates to size) */
  border: none;
  border-radius: 6px; /* roundness of the button */
  cursor: pointer; 
}

#navbar {
    position: sticky;
    margin: 0;
    background-color: pink;
    height: 10%;
    width: 100%;
    color: mediumvioletred;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    display: flex;
    padding: 12px;
    justify-content: flex-end;
}



/* if an id (id = "blank"), use #blank to access it in css */
/* if a class (class = "blank"), use .class to access the whole class and element_name.blank in css, like h1.class or p.class */
